@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: local("PretendardVariable"), url("./assets/PretendardVariable.woff2");
}

body {
  font-family: "Pretendard";
  margin: 0;
  width: 240px;
  /* height: 300px; */
  background-color: #ededed;
  padding: 0px 8px 8px 8px;
  overflow: auto;
}

html {
  overflow-y: scroll; /* 세로 스크롤 활성화 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}
